<!--网页底部-->
<div class="footer">
  <dl>
    <dt>
    <a href="/">首页</a>
    {aspcms:navlist}
    	<a href="[navlist:link]">[navlist:name]</a>
    {/aspcms:navlist}
    </dt>
    <dd>
      
            <h4>{aspcms:companyname} qdhualing.com <a href="https://beian.miit.gov.cn" style="color: #2a2a2a;" target="_blank">{aspcms:companyicp}</a></h4>

    </dd>
    <div class="clear"></div>
  </dl>
</div>


<div id="foot" style=" display:none"> 
   <ul>
     <li>版权所有： {aspcms:companyname}   &#160;&#160;  &#160;&#160;<a href="/www.miibeian.gov.cn/" target=_blank>{aspcms:companyicp}</a> </li>
   	 <li> 电话：{aspcms:companyphone}   &#160;&#160; 传真：{aspcms:companyfax} &#160;&#160;  邮箱：<a href="mailto:{aspcms:companyemail}">{aspcms:companyemail}  </a></li>
     <li> 商话1：{aspcms:companymobile}  商话2：{aspcms:companycontact}    &#160;&#160;地址：{aspcms:companyaddress} </li>
   </ul>
   <img src="images/FOOT11.jpg" style="position:relative; top:8px; left:10px;" /> 
</div>