<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{aspcms:sortname}-{aspcms:sitetitle}</title>
<meta name="Keywords" content="{aspcms:sortkeyword}" >
<meta name="Description" content="{aspcms:sortdesc}" >
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/style.css"/>
<script type="text/javascript" src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/public.js"></script>
<!--js 部分-->
<script type="text/javascript" src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript">
$(function(){var tabTitle = ".tab  span";var tabContent = ".tab .shen";$(tabTitle + ":first").addClass("on");$(tabContent).not(":first").hide();$(tabTitle).unbind("click").bind("click", function(){$(this).siblings("span").removeClass("on").end().addClass("on");var index = $(tabTitle).index( $(this) );$(tabContent).eq(index).siblings(tabContent).hide().end().fadeIn("slow");});});</script>

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?ac7307581f39576782d4b1f0cea54c2c";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</head>

<body>
<div class="wrapper">

<!--toubu-->
{aspcms:top} 
<div id="weizhi"><a href="{aspcms:siteurl}/">首页</a>{aspcms:position} / [position:link]{/aspcms:position}</div>
<!--body-->
<div class="body clearfix" id="about">
    <div id="part-l">
		<div id="partl1">
		   <div id="partl1-bb">
		      <div class="neirong_show">
              	<div id="liebiao" class="clearfix">
					<ul>
						{aspcms:navlist type=14}
						<li>
							<h3><a title="[navlist:name]" href="[navlist:link]">[navlist:name]</a></h3>
							<div class="con">
								<div class="img"><a title="[navlist:name]" href="[navlist:link]"><img src="[navlist:sortpic]" /></a></div>
								<div class="c_con">[navlist:pagedesc]</div>
							</div>
						</li>
						{/aspcms:navlist}
						
					</ul>
				</div>
              </div>
		   </div>
		</div>
        
	</div>

	<div id="part-r">
	    {aspcms:template src=left.html}
	</div>

</div>
<!--end body-->

<!--foot-->
{aspcms:foot}
<!--end foot-->
</div>

<!--end toubu-->

</body>
</html>
