<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>产品展示-{aspcms:sitetitle}</title>
<meta name="Keywords" content="" >
<meta name="Description" content="" >
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/style.css"/>
<script type="text/javascript" src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript">
function AutoResizeImage(maxWidth,maxHeight,objImg){
var img = new Image();
img.src = objImg.src;
var hRatio;
var wRatio;
var Ratio = 1;
var w = img.width;
var h = img.height;
wRatio = maxWidth / w;
hRatio = maxHeight / h;
if (maxWidth ==0 && maxHeight==0){
Ratio = 1;
}else if (maxWidth==0){//
if (hRatio<1) Ratio = hRatio;
}else if (maxHeight==0){
if (wRatio<1) Ratio = wRatio;
}else if (wRatio<1 || hRatio<1){
Ratio = (wRatio<=hRatio?wRatio:hRatio);
}
if (Ratio<1){
w = w * Ratio;
h = h * Ratio;
}
objImg.height = h;
objImg.width = w;
}
</script>
<style type="text/css">
.parent{ font-weight:700}
.sub{ text-indent:5px; }
.hover{ color:#a71d0f}
</style>
<script type="text/javascript">

$(function(){
var url = window.location.href;
strs=url.split("?"); //字符分割
strs=strs[1].split("_"); //获取ID

var vavid = $(".leftnav a").parent("li").attr("class");
$(".leftnav a").each(function(){
   var d= $(this).attr("href");
   //var s=d.indexOf(strs[0]);//返回-1
   var s = d.split("_"); //字符分割
   var a = s[0];
   var su = a.split("?"); 


   if(su[1] == strs[0]){	
   	var c = $(this).parent("li").attr("class");
	if(c == "sub"){
		$(this).parents("ul.sunnav").show();
		$(this).css({"color":"#a71d0f"});
	}else{
		$(this).css({"color":"#a71d0f"});
	}
   }


});


});
</script>

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?ac7307581f39576782d4b1f0cea54c2c";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</head>
<body>
<div class="wrapper">

<!--toubu-->
{aspcms:top}  
<!--end toubu-->
<div id="weizhi"><a href="{aspcms:siteurl}/">首页</a>{aspcms:position} / [position:link]{/aspcms:position}</div>

<!--body-->
<div class="body clearfix" id="pro">
    <div id="part-l">
		<div id="partl1">
		   <div id="partl1-bb">
		      <ul>			                      
           		{aspcms:productlist size=10 order=time}
                <li>
					<div class="l_img"><a href="[productlist:link]"><img src="[productlist:pic]"    onload="AutoResizeImage(174,114,this)" alt="[list:title]"/></a></div>
					<div class="r_con">
                    	<a href="[productlist:link]">[productlist:title len=30]</a>
                        <p>[productlist:desc len=160]</p>
                    </div>
                    </li>
				{/aspcms:productlist}              
			  </ul>
			 
		   </div>
            <div class="pagelink">[productlist:pagenumber len=10]</div>
		</div>
        
	</div>

	<div id="part-r">
         <div class="leftnav">
			<h2>

栏目分类

</h2>
			<ul>    		            
            {aspcms:navlist type={aspcms:topsortid}}
				{if:[navlist:subcount]>0}
				<li class="parent topn"><a title="[navlist:name]" href="javascript:;">[navlist:name]</a> </li>
				{else}
				<li class="parent"><a title="[navlist:name]" href="[navlist:link]">[navlist:name]</a> </li>
				{end if} 
				<ul class="sunnav">
				{aspcms:subnavlist type=[navlist:sortid]}
				<li class="sub"><a href="[subnavlist:link]">[subnavlist:name]</a></li>
				{/aspcms:subnavlist}
				</ul>
			{/aspcms:navlist}
		  </ul>  
		</div>
		<div class="lxfs">
			<h2>联系方式</h2>
			<p>电话：{aspcms:companyphone} </p>
			<p>传真：{aspcms:companyfax}</p>
			<p>邮箱：{aspcms:companyemail} </p>
			<p>商话1：{aspcms:companymobile}</p>
			<p>商话2：{aspcms:companycontact}</p>
			<p>地址：{aspcms:companyaddress} </p>
		</div>
	</div>
</div>
<!--end body-->


<!--foot-->
{aspcms:foot}
<!--end foot-->

</div>
</body>
</html>
